.admin-flow-page {
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
}

.admin-flow-container {
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.account-balance {
    color: #00ccff;
    margin-bottom: 10px;
    font-size: 18px;
}

.redeem-button {
    background-color: #00ccff;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: not-allowed;
    margin-bottom: 10px;
    width: 50%;
}

.redeem-info {
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px;
}

.input-field {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 80%;
}

.send-button {
    background-color: #00f;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 80%;
}

.transfer-info {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
}
